body    {
    background-color: black;
    font-family: sans-serif;
}

.gameboard  {
    width: 600px;
    height: 600px;
    margin: auto;
    border-collapse: collapse;
}

.gameboard__row {
    width: 50%;
    height: 50%;
}

.gameboard__cell    {
    padding: 0;
    /*opacity: 0.7*/
    /*border: 2px solid darkblue;*/
}

.gameboard__text    {
    display: table;
    width: auto;
    margin: auto;
    text-align: center;
    line-height: 1;
    font-size: 240px;
    font-weight: bold;
    color: white;
}